@page
@model LoldleClone.Pages.Classic.HomeModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Classic";
}

@section Scripts {
    <script src="~/js/classic.js" asp-append-version="true"></script>
}

<div class="container-fluid">
    <div class="col-md-6">
        <h3 class="mb-3 mt-3 text-center">Guess Today's Champion!</h3>
        <div id="classicGuessHolder"></div>
        <div class="input-group mb-3 container-fluid">
            <input type="text" class="form-control" placeholder="Guess a champion...">
            <div class="input-group-append">
                <button id="answerButton" class="btn btn-outline-secondary" type="button"><i class="bi bi-arrow-right-circle"></i></button>
            </div>
        </div>
    </div>
    <div id="classicGuessAnswers" class="col-md-12">
        <div id="answerHeaderRow"></div>
        <div id="answerRows"></div>
    </div>
</div>